$color-primary: #00A65A;
$color-white: #FFFFFF;
$color-red: #ED4337;
$color-blue-grey: #7B9CB7;
$color-blue: #0082E9;
$color-black-light: #4A4D61;
$color-grey: #8D8F9B;
$color-row-bg-warning: antiquewhite;


/* Notification color */

$color-notification-success: rgb(46, 125, 50);
$color-notification-error: rgb(211, 47, 47);
$color-notification-warning: rgb(237, 108, 2);
$color-notification-info: rgb(2, 136, 209);



/* Green */

$color-Green40: #005127;
$color-Green60: #007445;
$color-Green80: #009866;
$color-Green100: #0EBE89;
$color-Green120: #86DEC4;
$color-Green140: #C2EEE1;



/* Blue */

$color-Blue40: #00276D;
$color-Blue60: #00438F;
$color-Blue80: #0062B3;
$color-Blue100: #1B82D9;
$color-Blue120: #56A5FF;



/* BlueGray */

$color-BlueGray40: #1c3d45;
$color-BlueGray60: #36575F;
$color-BlueGray80: #56777F;
$color-BlueGray100: #7799A1;
$color-BlueGray120: #99BCC5;
$color-BlueGray140: #BCE0E9;



/* Gray */

$color-Gray60: #ABC0C2;
$color-Gray80: #D5DEDF;
$color-Gray100: #ECF2F0;
$color-Gray120: #FAFBFA;



/* Orange */

$color-Orange40: #840300;
$color-Orange60: #AC320C;
$color-Orange80: #D5562D;
$color-Orange100: #FF794D;